:root {
	--accent-color: #d20f39;
	--text-primary-color: #eff1f5;
	--text-secondary-color: #ccd0da;
	--mantle-color: #181825;
	--crust-color: #11111b;
	--shadow-color: rgba(0, 0, 0, 0.5);
	--gyousho-font: "DFGyoSho Pro-5";
	--kyoukasho-font: "DFKyoKaSho Pro-5";
	--kaisho-font: "DFKaiSho Pro-5 W5";
	--english-font: "serif";
}

#main {
	margin: 0 5% 0 5%;
	text-align: center;
}

#level {
	font-family: var(--kaisho-font);
	font-size: 2rem;
	color: var(--text-secondary-color);
	text-align: right;
}

#sentence {
	font-family: var(--kaisho-font);
	font-size: 2.5rem;
	color: var(--text-primary-color);
	vertical-align: middle;
	text-align: left;
	display: inline-block;
}

#term {
	background: var(--background-color);
	border-radius: 1rem;
	border-top: 1rem solid var(--accent-color);
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	padding: 1rem;
}

#meaning {
	font-family: var(--kaisho-font);
	font-size: 2rem;
	color: var(--text-secondary-color);
	padding: 1rem;
}

#diagram {
	background: var(--mantle-color);
	border-radius: 1rem;
	border-left: 1rem solid
		color-mix(in srgb, var(--accent-color) 66%, var(--text-primary-color));
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	padding: 1rem;
	justify-content: center;
	gap: 1rem;
	display: flex;
}

#picture {
	background: var(--mantle-color);
	border-radius: 1rem;
	border-left: 1rem solid
		color-mix(in srgb, var(--accent-color) 50%, var(--text-primary-color));
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	padding: 1rem;
	justify-content: center;
	gap: 1rem;
	display: flex;
}

#empty-diagram {
	background: var(--mantle-color);
	border-radius: 1rem;
	border-left: 1rem solid
		color-mix(in srgb, var(--accent-color) 33%, var(--text-primary-color));
	box-shadow: 1rem 1rem 1rem var(--shadow-color);
	padding: 1rem;
	justify-content: center;
	gap: 1rem;
	display: flex;
}

#diagram img {
	background: var(--crust-color);
	border-radius: 1rem;
	display: block;
}

#picture img {
	background: var(--crust-color);
	border-radius: 1rem;
	display: block;
}

#empty-diagram img {
	background: var(--crust-color);
	object-position: -99999px 99999px;
	border-radius: 1rem;
	display: block;
}

#audio {
	display: none;
}

u {
	color: var(--accent-color);
	text-decoration: none;
}
