:root {
    --accent-color: #89b4fa;
    --text-primary-color: #cdd6f4;
    --text-secondary-color: #bac2de;

    --mantle-color: #181825;
    --crust-color: #11111b;

    --shadow-color: rgba(0, 0, 0, 0.5);
}

.card {
    font-family: "Hiragino Maru Gothic ProN";
    
    margin: 5% 20% 5% 20%;

    text-align: center;
}

#level {
    font-size: 3vw;

    color: var(--text-secondary-color);
    background: var(--mantle-color);

    padding: 0.5rem 0 0 0;
    margin: 0.25rem 0.25rem -0.75rem 0.25rem;

    border-radius: 1rem 1rem 0 0;
}

#sentence {
    font-size: 2vw;

    color: var(--text-primary-color);
    background: var(--mantle-color);

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;

    border-bottom: 0.5rem solid var(--accent-color);
    border-radius: 0 0 1rem 1rem;

    box-shadow: 0 0.5rem 0.5rem -0.5rem var(--accent-color);

    text-align: center;
}

#meaning {
    font-size: 2.5vw;

    color: var(--text-secondary-color);

    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;

    text-align: center;
}

#diagram {
    background: var(--mantle-color);

    padding: 1rem 1rem 1rem 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;

    border-left: 0.5rem solid var(--accent-color);
    border-radius: 0.5rem;

    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);

    place-items: center;

    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

#diagram img {
    background: var(--crust-color);

    border-radius: 1rem;

    width: 100%;
    height: 100%;
}

#picture {
    background: var(--mantle-color);

    padding: 1rem 1rem 1rem 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0.25rem;

    border-left: 0.5rem solid var(--accent-color);
    border-radius: 0.5rem;

    box-shadow: 0.5rem 0.5rem 0.5rem var(--shadow-color);

    place-items: center;
}

#picture img {
    background: var(--crust-color);

    border-radius: 1rem;

    width: 100%;
    height: 100%;

    display: block;
}

#audio {
    display: none;
}

u {
    color: var(--accent-color);

    text-decoration: none;
}
